<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
    <display-name>ATD-WEBSITE</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
   <listener>
   <listener-class>atd.backend.MyContextListener</listener-class>
   </listener>
   
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>atd.backend.Login
	</servlet-class>
        <init-param>
            <param-name>adminUser</param-name>
            <param-value>admin</param-value>
        </init-param>
        <init-param>
            <param-name>adminPwd</param-name>
            <param-value>atd</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>atd.backend.Logout
	</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>atd.backend.Register
	</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register.do</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>FilterForSecurity</filter-name>
        <filter-class>atd.backend.SecurityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterForSecurity</filter-name>
        <url-pattern>/voorraad/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>FilterForSecurity</filter-name>
        <url-pattern>/home/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>FilterForSecurity</filter-name>
        <url-pattern>/index.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    
    <servlet>
        <servlet-name>BlogPost</servlet-name>
        <servlet-class>atd.home.BlogPost
	</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlogPost</servlet-name>
        <url-pattern>/BlogPost.do</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>Voorraad</servlet-name>
        <servlet-class>atd.voorraad.Voorraad
	</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Voorraad</servlet-name>
        <url-pattern>/Voorraad.do</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DeletePost</servlet-name>
        <servlet-class>atd.home.DeletePost
	</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletePost</servlet-name>
        <url-pattern>/DeletePost.do</url-pattern>
    </servlet-mapping>
</web-app>