@CHARSET "UTF-8";

/* basic mockup styles */
.homepage img {
	width: 100%;
}

.footer img {
	width: 20%;
}

.alert {
	margin-top: 10px;
	margin-bottom: 10px;
}

.clearfix {
	overflow: auto;
}

.afspraak:after {
	content: "";
	display: table;
	clear: both;
}

.afspraak:before,
.afspraak:after {
  content:"";
  display:table;
}
.container:after {
  clear:both;
}

.container {
	background-color: white;
	padding: 20px;
}

.navbar {
	border-radius: 0px;
}

.btn {
	border-radius: 0px;
}

input {
	border-radius: 0px;
}

.form-control {
	border-radius: 0px;
}

.input-group-addon {
	border-radius: 0px;
}

.logo {
	height: 25px;
	display: block;
	margin-top: -3px;
	opacity: 0.7;
	vertical-align: middle
}

.logo:hover {
	opacity: 1.0;
}

h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
}

p {
	font-family: 'open-sans', sans-serif;
}

.header, .marketing, .footer {
	padding-left: 15px;
	padding-right: 15px;
}

.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 50px;
	color: white;
	line-height: 45px;
}

.afspraak {
	padding: 15px;
	border-bottom: 2px solid green;
}

.afspraak .input-group {
	width: 100%;
}

.afspraak .input-group .input-group-addon {
	width: 1px;
}

.date-container {
	width: 100%;
}

.date-box {
	width: 30%;
	float: left;
	margin-right: 20px;
}

.date-container:after {
	content: "";
	display: block;
	clear: both;
}

/* footer */
.footer {
	margin-top: 39px;
	color: #777;
	background-color: brand-dark;
	border-top: 1px solid #e5e5e5;
}

.container-narrow>hr {
	margin: 30px 0;
}

/* promo style voor de index */
.jumbotron {
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}
/* index styles */
.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

.marketing {
	margin: 40px 0;
}

.marketing p+h4 {
	margin-top: 28px;
}

.input-group {
	margin-top: 5px;
	margin-bottom: 5px;
}

/* van de forms goed zetten */
.input-group {
	width: 100%;
}

.input-group .input-group-addon {
	width: 120px;
}

.master-form {
	margin-bottom: 15px;
}

/* laat de tabel clickable lijken */
tr {
	cursor: pointer;
}

/* voor het highlight effect in de voorraad beheer  */
.highlight-table {
	background-color: #d7ffcf;
	border-bottom: 2px solid #5cb85c;
}

/* media queries */
@media screen and (min-width: 768px) {
	.container {
		max-width: 730px;
	}
	.input-group {
		width: 100%;
	}
	.input-group .input-group-addon {
		width: 170px;
	}
	.header, .footer {
		padding-left: 0;
		padding-right: 0;
	}
	.jumbotron {
		border-bottom: 0;
	}
}